<html lang="da-dk">
<head>
    <title>Dashboard - BikeWorld</title>
    <link href="/design.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="navbar" id="topnavbar">
        <a id="nav-forside" href="/">Forside</a>
        <a href="/produkter">Produkter</a>
        <a href="/login">Login</a>
        <a href="/dashboard" class="active">Dashboard</a>
        <a href="javascript:void(0);" class="icon" onclick="Nfullshow()"><img id="menu_icon" src="/img/menu_white"></a>
      </div>
      <div class="brr">
      </div>
    <header class="header" style="display: block;">
        <h1>Velkommen til BikeWorld</h1>
        <p class="under-header"><strong>En verden af cykler</strong></p>
    </header>
    <br>
    <div class="main">
        <div class="brr">
        </div>
        <div class="card">
            <form class="form"></form>
                <div>
                    <label><strong>Tilføj Cykler:</strong></label>
                </div>
                <br>
                <br>
              <div>
                <label for="name">Navn:</label>
                  <input type="text" placeholder="Varenavn" name="varenavn" id="varenavn" required>
                  </div>
                  <br>
                  <div>
                  <label type="text">Pris:</label>
                  <input type="double" placeholder="Pris" name="pris" id="pris" required>
                  </div>
                  <br>
                  <div>
                    <div>
                        <label type="text">Billede:</label>
                        <input type="text" placeholder="Billede (link)" name="billede" id="billede" required>
                        </div>
                        <br>
                        <br>
                  <a href="#" style="color: black;" onclick="addproduct()"><strong>Tilføj Produkt</strong></a>
                  </div>
                </form>
        </div>
        <div class="brr">
        </div>
        <div class="brr">
        </div>
        <br>
        <br>
    </div>
</body>
<div class="footer">
    <h2>BikeWorld Aps</h2>
    <p>Viborgvej 1, 8800 Viborg</p>
    <p>CVR: 0000000</p>
    <p>Telefon: 88 88 88 88</p>
    <p>Email: <a href="mailto:hej@bikeworld.dk">hej@bikeworld.dk</a></p>
    <p>Udvikler: <a href="https://theodorstenz.dk" target="_Blank">Theodor Stenz</a></p>
    <p>Assisterende Udvikler: Casper Primdahl</p>
</div>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function Nfullshow() {
 var navbar = document.getElementById("topnavbar");
    if (navbar.className === "navbar") {
        navbar.className += " mobile";
        } else {
        navbar.className = "navbar";
        }
    }
</script>

<!-- Jquery -->
<script>
    $('.header').hide();
    $('.main').hide();
    $('.footer').hide();
    
    $(document).ready(function(){
        $('.header').slideDown(1000);
        $('.main').delay(1000).fadeIn(1000);
        $('.footer').delay(2000).fadeIn(2000);
    });
    </script>

<!-- Simpelt Tracking + Login Redirect-->
<script>
var url_string = document.URL;
var url = new URL(url_string);
var prev = url.searchParams.get('prev');

function addproduct() {
console.log(document.getElementById('varenavn').value);
console.log(document.getElementById('pris').value);
console.log(document.getElementById('billede').value);

    var varenavn = document.getElementById('varenavn').value;
    var pris = document.getElementById('pris').value;
    var billede = document.getElementById('billede').value;
    if(varenavn == null || pris == null || varenavn == "" || pris == "" || varenavn == " " || pris == " " || billede == null || billede == "" || billede == " ")
    {
        alert('Fejl - Alle felter skal udfyldes. // Prøv igen');
    }
    else
    {
        window.location.replace('addproduct' + '/' + varenavn + '/' + pris + '/' + billede);
    }
}
</script>
</html>