<html lang="da-dk">
<head>
    <title>Produkter - BikeWorld</title>
    <link href="/design.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="navbar" id="topnavbar">
        <a id="nav-forside" href="/?prev=produkter">Forside</a>
        <a href="/produkter?prev=produkter" class="active">Produkter</a>
        <a href="/login?prev=produkter">Login</a>
        <a href="javascript:void(0);" class="icon" onclick="Nfullshow()"><img id="menu_icon" src="/img/menu_white"></a>
      </div>
      <div class="brr">
      </div>
    <header class="header" style="display: block;">
        <h1>Velkommen til BikeWorld</h1>
        <p class="under-header"><strong>En verden af cykler</strong></p>
    </header>
    <div class="main">
        <br>
        <div class="brr">
        </div>
        <div class="card" id="mountainbikes">
            <h2>Mountainbikes</h2>
            <section class="item-row" style="display: flex;">
                <section class="item"><img class="produkt-img-mountainbike" src="img/produkter/mountainbike"><p class="product-name">Mountain Lion</p><p class="price">2000 DKK</p></section>
                <section class="item"><img class="produkt-img-mountainbike" src="img/produkter/mountainbike"><p class="product-name">Mountain Lion</p><p class="price">2000 DKK</p></section>                
                <section class="item"><img class="produkt-img-mountainbike" src="img/produkter/mountainbike"><p class="product-name">Mountain Lion</p><p class="price">2000 DKK</p></section>
                <section class="item"><img class="produkt-img-mountainbike" src="img/produkter/mountainbike"><p class="product-name">Mountain Lion</p><p class="price">2000 DKK</p></section>
                <section class="item"><img class="produkt-img-mountainbike" src="img/produkter/mountainbike"><p class="product-name">Mountain Lion</p><p class="price">2000 DKK</p></section>
            </section>        
        </div>
        <br>
        <br>
        <div class="card">
            <h2>Citybikes</h2>
            <section class="row">
                <section class="item"><img class="produkt-img-citybike" src="img/produkter/citybike"><p class="product-name">Urban Legend</p><p class="price">1200 DKK</p></section>
                <section class="item"><img class="produkt-img-citybike" src="img/produkter/citybike"><p class="product-name">Urban Legend</p><p class="price">1200 DKK</p></section>
                <section class="item"><img class="produkt-img-citybike" src="img/produkter/citybike"><p class="product-name">Urban Legend</p><p class="price">1200 DKK</p></section>
                <section class="item"><img class="produkt-img-citybike" src="img/produkter/citybike"><p class="product-name">Urban Legend</p><p class="price">1200 DKK</p></section>
                <section class="item"><img class="produkt-img-citybike" src="img/produkter/citybike"><p class="product-name">Urban Legend</p><p class="price">1200 DKK</p></section>
            </section>
        </div>
        <br>
        <br>
        <div class="card">
            <h2>Ryttercykler</h2>
            <section class="row">
                <section class="item"><img class="produkt-img-ryttercykel" src="img/produkter/ryttercykel"><p class="product-name">Cervelo Pro</p><p class="price">100000 DKK</p></section>
                <section class="item"><img class="produkt-img-ryttercykel" src="img/produkter/ryttercykel"><p class="product-name">Cervelo Pro</p><p class="price">100000 DKK</p></section>
                <section class="item"><img class="produkt-img-ryttercykel" src="img/produkter/ryttercykel"><p class="product-name">Cervelo Pro</p><p class="price">100000 DKK</p></section>
                <section class="item"><img class="produkt-img-ryttercykel" src="img/produkter/ryttercykel"><p class="product-name">Cervelo Pro</p><p class="price">100000 DKK</p></section>
                <section class="item"><img class="produkt-img-ryttercykel" src="img/produkter/ryttercykel"><p class="product-name">Cervelo Pro</p><p class="price">100000 DKK</p></section>
            </section>
        </div>
        <br>
        <br>
        <div class="card">
            <h2>Elcykler</h2>
            <section class="row">
                <section class="item"><img class="produkt-img-elcykel" src="img/produkter/elcykel"><p class="product-name">Tesla Light</p><p class="price">5000 DKK</p></section>
                <section class="item"><img class="produkt-img-elcykel" src="img/produkter/elcykel"><p class="product-name">Tesla Light</p><p class="price">5000 DKK</p></section>
                <section class="item"><img class="produkt-img-elcykel" src="img/produkter/elcykel"><p class="product-name">Tesla Light</p><p class="price">5000 DKK</p></section>
                <section class="item"><img class="produkt-img-elcykel" src="img/produkter/elcykel"><p class="product-name">Tesla Light</p><p class="price">5000 DKK</p></section>
                <section class="item"><img class="produkt-img-elcykel" src="img/produkter/elcykel"><p class="product-name">Tesla Light</p><p class="price">5000 DKK</p></section>
            </section>
        </div>
        <div class="brr">
        </div>
    </div>
</body>
<div class="footer">
    <h2>BikeWorld Aps</h2>
    <p>Viborgvej 1, 8800 Viborg</p>
    <p>CVR: 0000000</p>
    <p>Telefon: 88 88 88 88</p>
    <p>Email: <a href="mailto:hej@bikeworld.dk">hej@bikeworld.dk</a></p>
    <p>Udvikler: <a href="https://theodorstenz.dk" target="_Blank">Theodor Stenz</a></p>
    <p>Assisterende Udvikler: Casper Primdahl</p>
</div>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
function Nfullshow() {
 var navbar = document.getElementById("topnavbar");
    if (navbar.className === "navbar") {
        navbar.className += " mobile";
        } else {
        navbar.className = "navbar";
        }
    }
</script>

<!-- Jquery -->
<script>
$('.header').hide();
$('.main').hide();
$('.footer').hide();

$(document).ready(function(){
    $('.header').slideDown(1000);
    $('.main').delay(1000).fadeIn(1000);
    $('.footer').delay(2000).fadeIn(2000);
});
</script>
</html>